@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  display: block;
}

li{
  list-style-type: none;
  display: flex;
  padding-left: 30px;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  right: 0;
  font-size: 18px;
  font-weight: 300;
}

@media not all and (min-width: 768px) {
  li{
    padding-left: 15px;
  }
  .hero-sec{
    display: none;
  }
  .quotes-sec{
    font-size: 30px;
    font-weight: 600;
  }
  .hero-box{
    padding: 2rem;
  }
  .about-cont{
    width: 20rem;
  }
  .appoint-box{
    margin-right: auto;
    padding: 10px;
  }
}